@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  --foreground: #0f172a;
  --background: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
